@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #0A0701;

    --card: #FFFFFF;
    --card-foreground: #0A0701;

    --popover: #FFFFFF;
    --popover-foreground: #0A0701;

    --primary: #191909;
    --primary-foreground: #F8FBEF;

    --secondary: #F1F4F3;
    --secondary-foreground: #191909;

    --muted: #F1F4F3;
    --muted-foreground: #736D55;

    --accent: #F1F4F3;
    --accent-foreground: #191909;

    --destructive: #993D38;
    --destructive-foreground: #F8FBEF;

    --border: #E4E6E6;
    --input: #E4E6E6;
    --ring: #0A0701;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0A0701;
    --foreground: #F8FBEF;

    --card: #0A0701;
    --card-foreground: #F8FBEF;

    --popover: #0A0701;
    --popover-foreground: #F8FBEF;

    --primary: #F8FBEF;
    --primary-foreground: #191909;

    --secondary: #27221F;
    --secondary-foreground: #F8FBEF;

    --muted: #27221F;
    --muted-foreground: #A1947B;

    --accent: #27221F;
    --accent-foreground: #F8FBEF;

    --destructive: #4D1F1E;
    --destructive-foreground: #F8FBEF;

    --border: #27221F;
    --input: #27221F;
    --ring: #D3CEC4;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    /* position: relative; */
    min-width: 0;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 font-extrabold text-4xl tracking-tight lg:text-5xl text-balance;
  }

  h2 {
    @apply scroll-m-20 border-b pb-2 font-semibold text-3xl tracking-tight first:mt-0 text-balance;
  }

  h3 {
    @apply scroll-m-20 font-semibold text-2xl tracking-tight text-balance;
  }

  h4 {
    @apply scroll-m-20 font-semibold text-xl tracking-tight text-balance;
  }

  p {
    @apply leading-7 text-balance;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono font-semibold text-sm;
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    min-height: 100dvh;
  }
}